/* Your existing CSS */
/* ... */

/* Add the following styles for the modal */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 66%);
    z-index: 999;
  }
  
  .modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 500px;
    padding: 20px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .email-input {
    border: 2px solid #ebe6e2;
    background-color: #ebe6e2;
    padding: 10px;
    width: 100%;
  }
  .pass-input {
    border: 2px solid #ebe6e2;
    background-color: #ebe6e2;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
  }
  .submit {
    background-color: #30af5b;
    width: 100%;
    color: white;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 40px;
  }
  .remember {
    padding-top: 15px;
  }
  .location-icon {
    text-align: center;
  }